#content{
  background: pink;
  border-style: dashed;
  border-color: #c75bb7;
  padding: 30px;
  width: 700px;
  height: auto;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  font-family: "Exo", sans-serif;
  font-weight: 600;
}

body{
  background-image: linear-gradient(to bottom right, #cbffc0, #e67f90, #c0d6ff, #ffdac0);
  height: 900px;
}

h2{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
