body{
  background-color: pink;
}

#file{
  float: right;
  width: 500px;
  height: auto;
  padding-right: 70px;
  padding-left: 40px;
}

p{
  font-size: 18px;
}

#text{
  padding-right: 20px;
}

#source{
  width: 325px;
  height: auto;
  padding: 30px;
}
