#content{
  background: #c9c49d;
  border-style: groove;
  border-color: #8f650b;
  padding: 30px;
  width: 700px;
  height: auto;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  font-family: cursive;
  font-weight: 600;
}

body{
  background-image: linear-gradient(to bottom right, #222F5B, #2A623D, #FFED86, #740001);
  height: 780px;
}

h2{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #c9c49d;
  font-family: "Irish Grover", cursive;
}

#code{
  border-style: dashed;
  text-align: center;
  padding-bottom: 20px;
  border-color: #8f650b;
  width: 550px;
  border-radius: 25px;
  margin: auto;
}
