#dropdown {
  border: 1px solid black;
  border-radius: 25px;
  width: 250px;
  height: auto;
  padding: 10px;
  margin: inherit;
  display: inline-grid;
  margin-right: 15px;
}

img {
  float: center;
  margin-left: 25px;
}

#downLink {
  float: center;
  width: 100px;
  height: 100px;
  margin-left: 0px;
}
