h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #e8e9eb;
  text-align: center;
  font-family: "Arial", sans-serif;
}

button {
  text-align: center;
  margin: 15px 100px;
  margin-left: 100px;
  font-size: 20px;
  background-color: black;
  color: white;
  width: 200px;
}

#backtoTop {
  color: black;
}

img {
  width: 300px;
  height: auto;
}

#interestingImages {
  width: 900px;
  height: auto;
}
